name: Run tests

on:
  push:
    branches:
      - main

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ">=16.15.0"
      - name: Install all dependencies
        run: npm ci
      - name: Run tests
        run: npm run test